<html>
    <head>
        <title>Webserver: {{ inventory_hostname }}</title>
    </head>
    <body>
        <h1>Webserver: {{ inventory_hostname }}</h1>
        <img src="http://object.api.fuga.io/swift/v1/demo/{{ inventory_hostname }}.jpg">
    </body>
</html>
